.bg-warning-v2 {
    background-color: #f7941d !important;
}

.border-home-info-company {
    border: 5px solid rgb(213, 226, 247) !important;
}

ul.pagination li:last-child a.page-link {
    background-color: #fff !important;
}

ul.pagination li:first-child a.page-link {
    background-color: #fff !important;
}

